/* open-sans-regular - latin */
@font-face {
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 400;
  src: url('../open-sans-v15-latin-regular.eot'); /* IE9 Compat Modes */
  src: local('Open Sans Regular'), local('OpenSans-Regular'),
       url('../open-sans-v15-latin-regular.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('../open-sans-v15-latin-regular.woff2') format('woff2'), /* Super Modern Browsers */
       url('../open-sans-v15-latin-regular.woff') format('woff'), /* Modern Browsers */
       url('../open-sans-v15-latin-regular.ttf') format('truetype'), /* Safari, Android, iOS */
       url('../open-sans-v15-latin-regular.svg#OpenSans') format('svg'); /* Legacy iOS */
}

 /* The fonts were derived from an older challenge of mine from the beginning of the year. The link to access this generator is: https://google-webfonts-helper.herokuapp.com/fonts */

body {
	height: 100vh;
	width: 100vw;
	display: flex;
	flex-wrap: wrap;
}

/* pricing images for javascript */

.one {
	content:url(../one.png);
}

.two {
	content:url(../two.png);
}

/* text properties */

.title {
	text-align: center;
	font-size: 90px;
	font-family: 'Open Sans';	
}

.subtitle {
	text-align: center;
	font-size: 10px;
	font-family: 'Open Sans';	
}

.coming {
	text-align: center;
	font-size: 60px;
	font-family: 'Open Sans';
}

/* main parts */

.card {
	height: calc(100%/3);
	width: calc(100%/3);
}

.banner {
	width: 100%;
	height: calc(100%/3);
	background-color: white;
	text-align: center;
}

.brown {
	background-color: #6E352C ;
}

.orange {
	background-color: #CF5230 ;
}

.gold {
	background-color: #F59A44;
}

.beige {
	background-color: #E3C598;
}

.grey {
	background-color: #8A6E64;
}

.green {
	background-color: #6E612F;
}

.soon {
	width: calc(100%/3);
	height: calc(100%/3);
	background-color: white;
	padding-top: 10px;
}

.soon:hover {
	cursor: pointer;
}

.card img {
	height: 15vh;
	width: 15vh;
	margin: auto;
	display: block;
	padding-top: 75px;
	opacity: 1.0;
	transition: .3s ease-in-out;
}

img:hover {
	opacity: 0.8;
	cursor: pointer;
}

img:active {
	transform: scale(0.98, 0.98);
}

/* tablet view */

@media screen and (max-width: 900px) {

	.card {
		width: 50%;
	}
	
	.banner {
		width: 50%;
	}
	
	.title {
		text-align: center;
		font-size: 80px;
		font-family: 'Open Sans';	
	}

	.soon {
		width: 100%;
		padding-top: 20px;
	}
	
	.coming {
		text-align: center;
		font-size: 50px;
		font-family: 'Open Sans';
	}
	
	.card img{
		padding-top: 65px;
	}
}

/* phone view */

@media screen and (max-width: 600px) {

	.card {
		width: 100%;
	}
	
	.banner {
		width: 100%;
	}
	
	.title {
		text-align: center;
		font-size: 70px;
		font-family: 'Open Sans';	
	}
	
	.soon {
		width: 100%;
		padding-top: 40px;
	}
	
	.coming {
		text-align: center;
		font-size: 40px;
		font-family: 'Open Sans';
	}
	
	.card img{
		padding-top: 55px;
	}
}
